<h1>Cocktails</h1>
<ol>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail) %> |
      <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: {confirm: 'Are you sure?'}  %>
    </li>
  <% end %>
</ol>
<%= link_to 'Create New Cocktail', new_cocktail_path  %> 
