
<h1>Mister Wobbly`s Cocktails</h1>

<%# <%= cl_image_tag("fizijnctlzkxjyvzph3s", width: 200, height: 100, crop: :fill) %>

<br>
<br>


<div class="cards">
  

    <% @cocktails.each do |cocktail| %>
    <div class="card-pick">
      <%= cl_image_tag("clyebw072vfrvmqec7io", width: 200, height: 100, crop: :fit) %>

      <div class="card-pick-info">

      
          <%= link_to cocktail.name, cocktail_path(cocktail) %> |
          <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: {confirm: 'Are you sure?'}  %>

      
      </div>

    </div>

    <% end %>

</div>

