.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  text-align: end;
  padding-right: 8px;

}

.navbar-lewagon-section {
  display: flex;
  align-items: center;
}

.navbar-lewagon-logo {
  height: 64px;
  width: 64;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0 24px;
  border-radius: 50%;
}

.navbar-lewagon ul {
  display: flex;

}

.navbar-lewagon li {
  margin: 20px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
